@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-creme text-blue;
}

p,
span,
li {
  @apply font-text;
}

h1 {
  @apply font-title text-lg font-extrabold;
}

.clickable-effect:hover {
  transform: scale(100.8%);
}

.clickable-effect:active {
  transform: scale(99.3%);
}

.btn {
  @apply block rounded border border-blue bg-blue px-3 py-2 font-text text-sm text-creme transition-transform duration-200
  hover:scale-[102.6%]
  active:scale-[97.4%];
}

.click-effect {
  @apply hover:scale-[101.8%]
  active:scale-[97.3%];
}

/* x padding for homepage  */
.custom-x-padding {
  @apply px-10 2xl:px-0;
}
